/* Page setup */
@font-face {
  font-family: Noto-Sans;
  src: url(fonts/Noto_Sans_TC/NotoSansTC-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: "Noto-Sans";
}

/* Main page video background */
.hero_video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.5);
  position: relative;
}

.video-content {
  position: absolute;
  height: 200px;
  width: 300px;
  border: 1px dotted white;
  color: orange;
}

/* Top Navbar */
nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 0 1%;
}

nav.navbar h1.logo-header {
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 0;
  margin: 10px 0 5px 0;
}

nav.navbar .header-subtitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.75em;
  font-weight: lighter;
  font-style: italic;
}
