/* Page setup */
@font-face {
  font-family: Noto-Sans;
  src: url(fonts/Noto_Sans_TC/NotoSansTC-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: "Noto-Sans";
}

/* Main page video background */
.hero_video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.5);
  position: relative;
}

/* Top Navbar */
nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  border: 1px dotted white;
  padding: 0 20px;
}

nav.navbar h1.logo-header {
  font-size: 1.3em;
}
